@model BuscAcoes.Dominio.DTOs.Calendario.CalendarioDTO

@{
    ViewData["Title"] = "Calendário";
    ViewData["PaginaAtiva"] = "calendario";
}

<div class="container-fluid p-0">
    <h1 class="mb-3 text-center">Calendário</h1>
    <div class="row justify-content-md-center">
        @if (@TempData["Erro"] != null)
        {
            <div class="col-xl-6 col-md-10 alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message d-flex">
                    <strong class="me-3"><i class="fas fa-exclamation-circle"></i> Erro</strong>
                    <span class="m-auto">@TempData["Erro"]</span>
                </div>
            </div>
        }
        else if (@TempData["Sucesso"] != null)
        {
            <div class="col-xl-6 col-md-10 alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message d-flex">
                    <strong class="me-3"><i class="fas fa-check-circle"></i> Sucesso</strong>
                    <span class="m-auto">@TempData["Sucesso"]</span>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center flex-row">
                        <h3 class="m-auto">Horário de monitoramento</h3>                       
                    </div>
                </div>
                <div class="card-body">
                    <form id="formHorario" asp-controller="Calendario" asp-action="SalvarHorario" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row align-items-center">
                            <div class="mb-3 col-md-5">
                                <div class="form-group">
                                    <input type="time" asp-for="HorarioDTO.HoraAbertura" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 col-md-2">
                                <div class="form-group text-center">
                                    Até
                                </div>
                            </div>
                            <div class="mb-3 col-md-5">
                                <div class="form-group">
                                    <input type="time" asp-for="HorarioDTO.HoraFechamento" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center">
                            <input type="submit" value="Salvar" class="btn btn-lg btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center flex-row">
                        <h3 class="m-auto">Dias indisponíveis</h3>
                    </div>
                </div>
                <div class="card-body">
                    <partial name="~/Views/Calendario/_Calendario.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>

    @section Modals{
        <partial name="~/Views/Calendario/_CalendarioModal.cshtml" />
    }

    @section Styles {
        <link rel="stylesheet" href="~/css/calendar.css" />
    }

    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <partial name="~/Views/Calendario/_CalendarioScripts.cshtml" for="PartialCalendarioDTO" />
    }
